<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>

</head>

<body>
<header  id="header">
</header>

<main>
    <label for="search-type" hidden>검색 유형</label>
    <select id="search-type"  name="search-type">
        <option>제목</option>
        <option>본문</option>
        <option>id</option>
        <option>닉네임</option>
        <option>해시태그</option>
    </select>
    <label for="search-value" hidden>검색어</label>
    <button id="search-value" type="submit" > 검색 </button>
    <div >
        <table >
            <thead>
            <tr>
                <th ><a>제목</a></th>
                <th ><a>해시태그</a></th>
                <th ><a>작성자</a></th>
                <th ><a>작성일</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ><a>첫글</a></td>
                <td ><a >#java</a></span></td>
                <td >Uno</td>
                <td ><time>2022-01-01</time></td>
            </tr>
            <tr>
                <td>두번째글</td>
                <td>#spring</td>
                <td>Uno</td>
                <td><time>2022-01-02</time></td>
            </tr>
            <tr>
                <td>세번째글</td>
                <td>#java</td>
                <td>Uno</td>
                <td><time>2022-01-03</time></td>
            </tr>
            </tbody>
        </table>
    </div>

        <nav>
            <table >
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
        </nav>

</main>

<footer  id="footer"></footer>

</body>
</html>