
project-board/.gradle/8.2.1/checksums/checksums.lock

project-board/.gradle/8.2.1/checksums/md5-checksums.bin

project-board/.gradle/8.2.1/checksums/sha1-checksums.bin

project-board/.gradle/8.2.1/executionHistory/executionHistory.bin

project-board/.gradle/8.2.1/executionHistory/executionHistory.lock

project-board/.gradle/8.2.1/fileHashes/fileHashes.bin

project-board/.gradle/8.2.1/fileHashes/fileHashes.lock

project-board/.gradle/8.2.1/fileHashes/resourceHashesCache.bin

project-board/.gradle/buildOutputCleanup/buildOutputCleanup.lock

project-board/.gradle/file-system.probe

project-board/.idea/compiler.xml

project-board/build/tmp/compileJava/previous-compilation-data.bin

board-and-admin/.idea/workspace.xml
